.imgsize{
     height: 300px;
     width: 250px;
     margin-top: 50px;
     
     justify-content: space-around;
}

.sampleTable{
     margin-top: 100px;
     text-align: center;
}

.counter{
    margin-top: 20px;
}

.counterno{
    margin-top: 20px;
}